  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Add a Relative:</h1>
    </ion-header-bar>
    <ion-content>
        <form name="relativeForm" ng-controller="AddRelativeCtrl" >
            <p>Name:<input type="text" name="name" ng-model="relativeName" /></p>
            <p>Spouse:<input type="text" name="spouse" ng-model="relativeSpouse" /></p>
            <p>Relationship to You:<input type="text" name="relationship" ng-model="relativeRelationship" /></p>
            <p>We'll enter the kids later</p>
            <button name="done" ng-click="addRelative()">Add</button>
        </form>
    </ion-content>
  </ion-modal-view>