  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title calm">Add a Munchkin:</h1>
    </ion-header-bar>
    <ion-content>
        <div class="card padding">
            <form name="relativeForm" ng-controller="AddChildCtrl" class="list">
                <div>
                    <div class="item item-input">Name:</div>
                    <div class="item item-input"><input placeholder="first name" type="text" ng-model="childFirstName" /></div>
                    <div class="item item-input"><input placeholder="last name" type="text" ng-model="childLastName" /></div>
                </div>
                <div>
                    <div class="item">Date of Birth:</div>
                    <div class="item item-input"><input type="date" ng-model="childDob" novalidate /></div>
                </div>
                <button name="done" ng-click="addChild()" class="button button-block button-calm">Add</button>
                <button name="cancel" ng-click="closeModal()" class="button button-block button-calm">Cancel</button>
            </form>
        </div>
    </ion-content>
  </ion-modal-view>