  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title calm">Add a Munchkin:</h1>
    </ion-header-bar>
    <ion-content>
        <div class="card padding">
            <form name="relativeForm" ng-controller="AddChildCtrl" class="list">
                <div>
                    <div class="item item-input">Name:</div>
                    <div class="item item-input"><input type="text" ng-model="childName" /></div>
                </div>
                <div>
                    <div class="item">Date of Birth:</div>
                    <div class="item item-input"><input type="date" ng-model="childDob" novalidate /></div>
                </div>
                <!--<div class="item item-input">Parent: <input type="text" ng-model="parent" /></div>
                <ion-card class='card'>
                    <div class="item padding-left"><strong>Interest:</strong></div>
                    <div class="item item-input">Name:<input type="text" ng-model="interestName" /></div>
                    <div class="item item-input">Date:<input type="text" ng-model="interestDate" /></div>
                    <div class="item item-input">Interest Level:<input type="text" ng-model="interestLevel" /></div>
                </ion-card>-->
                <button name="done" ng-click="addChild()" class="button button-block button-calm">Add</button>
                <button name="cancel" ng-click="closeModal()" class="button button-block button-calm">Cancel</button>
            </form>
        </div>
    </ion-content>
  </ion-modal-view>