<ion-view title="detail" ng-controller="ChildCtrl">
    <ion-content has-header="true" has-footer="true" padding="true">
        <div>
            <div class="card list">
                <div class="item">Rugrat's name: {{ child.firstName }} {{ child.lastName }}</div>
                <div class="item">Rugrat's DOB: {{ child.dob }}</div>
                <div class="item">Rugrat's age: <get-age dob="child.dob" ></get-age></div>
            </div>
            <div class="inset-list">
                <ion-item>
                    <a class="button button-block button-positive rounded" ng-controller="AddInterestRowCtrl" ng-click="openModal();">Add an Interest</a>
                </ion-item> 
                <div ng-show="child.interests.length">
                    <p>Child's Interests:</p>
                    <div ng-repeat="interest in child.interests | orderBy:child.interest.date">
                        <div class="item item-devider item-dark">interest: {{interest.name}}</div>
                        <div class="item">date found out: {{interest.date}}</div>
                        <div class="item">interest level: {{interest.level}}</div>
                        <div ng-show="$last" ng-controller="RemoveInterestCtrl" class="item">
                            <a class="button button-block button-dark rounded" ng-click="removeInterest( {{$index}} )">remove</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
