<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{child.name}}">
    <ion-content has-header="true" padding="true">
        <ion-card>
            <p>Child's name: {{child.name}}</p>
            <p>Child's age: {{child.age}}</p>
            <p>Child's DOB: {{child.dob}}</p>
            <ul ng-show="child.interests.length">
                Child's Interests:
                <li ng-repeat="interest in child.interests"><p>{{interest.name}}</p><p>{{interest.date}}</p><p>{{interest.level}}</p></li>
            </ul>
        </ion-card>
    </ion-content>
</ion-view>
