<ion-view title="Munchkins">
    <ion-content class="has-header has-footer" ng-controller="ChildrenCtrl">
        <div class='padding' ng-show="show">
            <div>
                <h3 class="item-wrap">You have <strong>{{children.length}}</strong> birthdays and christmas presents to remember.</h3>
                <div><p class="black" ng-controller="BirthdayCtrl">The next birthday coming up<br /> is <strong>{{ nextBirthdayKid }}'s {{ nextBirthday }}.</strong></p></div>
             </div>
        </div>
        <ion-list class="list">
            
            <ion-item>
                <a class="button button-block button-positive rounded" ng-href="#" ng-controller="AddRowChildCtrl" ng-click="openModal()">Add a Child</a>
            </ion-item>
            
            <ion-item class="item" ng-repeat="child in children track by $index" type="item-text-wrap" ng-href="#/children/{{$index}}">
                <div class="item padding">
                    <!--<div class="photo"></div>-->
                    <div><h2><strong>{{child.firstName}} {{child.lastName}}</strong></h2></div>
                    <div><strong>birthday: <get-birthday dob="child.dob"></get-birthday></strong></div>
                    <div><strong><get-age dob="child.dob"></get-age> old</strong></div>
                    <div ng-show="$last">
                        <a ng-controller="RemoveChildCtrl" name="harry-mess" class="rounded button button-block button-assertive" ng-href="#" ng-click="removeChild( {{$index}} )">remove</a>
                    </div>
                </div>
            </ion-item>
            
        </ion-list>
        
    </ion-content>
</ion-view>
