<ion-view title="detail">
    <ion-content has-header="true" padding="true">
        <div>
            <div class="card list">
                <div class="item">Rugrat's name: {{child.name}}</div>
                <div class="item">Rugrat's DOB: {{child.dob}}</div>
                <div class="item">Rugrat's age: <get-age dob="child.dob" ></get-age></div>
            </div>
            <!--<div>
                <ul class="card list" ng-show="child.interests.length">
                    <p>Child's Interests:</p>
                    <li class="item" ng-repeat="interest in child.interests">
                        <div>interest: {{interest.name}}</div>
                        <div>date found out: {{interest.date}}</div>
                        <div>interest level: {{interest.level}}</div>
                    </li>
                </ul>
            </div>-->
        </div>
    </ion-content>
</ion-view>
