<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">


  <!-- Relatives Tab -->
  <ion-tab title="Relatives' View" icon="icon ion-home" href="#/tab/relatives">
    <ion-nav-view name="tab-relatives"></ion-nav-view>
  </ion-tab>


  <!-- Children Tab -->
  <ion-tab title="Children's View" icon="icon ion-heart" href="#/tab/children">
    <ion-nav-view name="tab-children"></ion-nav-view>
  </ion-tab>

</ion-tabs>
